Dataset_preparatori_o_parziali/
Dataset_mtcnn+deeplab_split/
Dataset_mtcnn_split/
Outdated_files/
SHAPOut/
logs/
temp/
trained_classifiers/
trained_classifiers/
nohup.out
dataset.zip
paths_local.json
*.png
NEW_Classifier_paths.json
*.out
model*
mtcnn_log_folder_Fake.txt
mtcnn_log_folder_Real.txt