Dataset/
Dataset_merged/
Dataset_mtcnn/
hosvd_results/
nohup.out
dataset.zip
mnet_encodings/StyleGAN2_train_encoded.csv
mnet_encodings/StyleGAN3_encoded.csv
mnet_encodings_NoSG3_Train/StyleGAN2_train_encoded.csv
mnet_encodings_NoSG3_Train/StyleGAN3_encoded.csv
MobileNetV3_frozen_shap_explainations/Shap_results_train_set.png
mtcnn_log_folder_all-files_stylegan3_ffhqu_train.txt
mtcnn_log_folder_Real_tot.txt
mtcnn_log_folder_Sint_tot.txt
mtcnn_log_folder_StyleGAN3_real_test.txt
mtcnn_log_folder_StyleGAN3_sint_test.txt
OLD/mnet_encodings/StyleGAN2_train_encoded.csv
OLD/mnet_encodings/StyleGAN3_encoded.csv
OLD/mnet_encodings_NoSG3_Train/StyleGAN2_train_encoded.csv
OLD/mnet_encodings_NoSG3_Train/StyleGAN3_encoded.csv
paths_local.json
*.png
trained_classifiers/MobileNetV3_frozen_useDataAug_True_performance/performance_log.txt
trained_classifiers/MobileNetV3_frozen_useDataAug_True_weights/MobileNetV3_frozen_useDataAug_True_weights.h5
checkpoints/MobileNet_NoFineTuning_weights.h5
checkpoints/MobileNetFrozen_weights.index
checkpoints/MobileNetFrozen_weights.index
trained_classifiers/MobileNetV3_frozen_useDataAug_True_performance/MobileNetV3_frozen_useDataAug_True_performance_log.txt
